<mat-toolbar class="menubar">
  <a href="https://www.slipmate.ml"><img class="menubar-image" src="https://slipmate.ml/assets/images/slipmate-gray.png"/></a>
  <h1 *ngIf="isDesktopResolution" class="menubar-text">{{ title }}</h1>
</mat-toolbar>
<app-passes></app-passes>
<footer>
  <hr>
  <div style="text-align: center">
<!--    <p>Created by Woodside High School Students 2019</p>-->
    <p>For support please email <a href="mailto:support@slipmate.net">support@slipmate.net</a></p>
    <p>Or Contact</p>
    <p>Aidan Sacco, Daniel Longo, Guy Wilks</p>
  </div>
  <hr>
</footer>

