<mat-toolbar class="menubar">
  <img class="menubar-image" src="https://slipmate.ml/assets/images/slipmate-gray.png"/>
  <h1 *ngIf="isDesktopResolution" class="menubar-text">{{ title }}</h1>
</mat-toolbar>
<app-passes></app-passes>
<footer>
  <hr>
  <div style="text-align: center">
<!--    <p>Created by Woodside High School Students 2019</p>-->
    <p>For support please email support@slipmate.net</p>
    <p>or contact</p>
    <p>Aidan Sacco, Daniel Longo, Guy Wilks</p>
  </div>
  <hr>
</footer>

