.mat-chip {
  pointer-events: none;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.cancel-pass {
  color: red;
}

.chip-pending {
  color: orange;
  background-color: darkorange;
}
